<!DOCTYPE html>
<html lang="es">
<header>
    <img src= "/images/logo-mercado-liebre.svg"
    width="500"
    height="500">
        <br><nav>Buscar productos, marcas</nav>
        <br>
        <br>
        Compra en cuotas y sin tarjeta de credito
               
            <ul>
                <title><li>Ofertas</li></title>
                <li>Tiendas Oficiales</li>
                <li>Tiendas Oficiales</li>
                <li>Ayuda</li>
                <br>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>

    <link rel="stylesheet" href="C:\Users\Marco\Desktop\INTRO-HTML\public\css\styles.css">

    
</header>
        

        <main>
            <ul>
                <title><b>Basado en tu última visita</b></title>
                <p style="text-align:center;"><img src="/images/img-cafetera-moulinex.jpg"
                width="400"
                height="400"></p>
                <br>$6.770
                <br>
                <br>40% OFF
                <br>
                <br><b>Cafetera Moulinex</b>
                <br>
                <p style="text-align:center;"><img src="/images/img-macbook-pro-2019.jpg"
                width="400"
                height="400"></p>
                <br>$230.000
                <br>
                <br>20% off
                <br>
                <br><b>MacBook Pro 2019</b>
                <br>
                <p style="text-align:center;"><img src="/images/img-samsung-galaxy-s10.jpg"
                width="400"
                height="400"></p>
                <br>$70.500
                <br>
                <br>10% off
                <br>
                <br><b>Samsung Galaxy S10</b>
                <br>
                <p style="text-align:center;"><img src="/images/img-tv-samsung-smart.jpg"
                width="400"
                height="400"></p>
                <br>$23.200
                <br>
                <br>5% off
                <br>
                <br><b>SmartTv Samsung 43"</b>
                <br>
                <br><b>Ofertas</b>
                <p style="text-align:center;"><img src="/images/img-cafetera-moulinex.jpg"
                width="400"
                height="400"></p>
                <br>$6.770
                <br>
                <br>40% OFF
                <br>
                <br><b>Cafetera Moulinex</b>
                <br>
                <p style="text-align:center;"><img src="/images/img-macbook-pro-2019.jpg"
                width="400"
                height="400"></p>
                <br>$230.000
                <br>
                <br>20% off
                <br>
                <br><b>MacBook Pro 2019</b>
                <br>
                <p style="text-align:center;"><img src="/images/img-samsung-galaxy-s10.jpg"
                width="400"
                height="400"></p>
                <br>$70.500
                <br>
                <br>10% off
                <br>
                <br><b>Samsung Galaxy S10</b>
                <br>
                <p style="text-align:center;"><img src="/images/img-tv-samsung-smart.jpg"
                width="400"
                height="400"></p>
                <br>$23.200
                <br>
                <br>5% off
                <br>
                <br><b>SmartTv Samsung 43"</b>
                <br>

            </ul>
            

        </main>

        <footer>
            <p style="text-align:center"><b>Pagá con tarjeta o en efectivo</b></p>
            <br><p style="text-align:center">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <br><p style="text-align:center"><b>Envío gratis desde $ 2.500</b></p>
            <br><p style="text-align:center">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <p style="text-align:center"><b>Seguridad, de principio a fin</b></p>
                <br><p style="text-align:center">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                    <p style="text-align:center">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>



        </footer>
